@font-face {
  font-family: "RobotoLight";
  src: url("../../fonts/RobotoLight.woff2") format("woff2"),
    url("../../fonts/RobotoLight.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoBold";
  src: url("../../fonts/RobotoBold.woff2") format("woff2"),
    url("../../fonts/RobotoBold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rubikmonooneregular";
  src: url("../../fonts/rubikmonooneregular.woff2") format("woff2"),
    url("../../fonts/rubikmonooneregular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
