$white-color: #ffffff;
$black-color: #000000;
$text-color: #000000;
$text-footer-color: #605f5f;
$main-text-color: #3a30f8;
$main-color: #3a30f8;
$bg-color: #ffffff;
$bg-alt-color: #3a30f8;
$bg-footer-color: #292929;
$color-1: #e2e837;
$color-2: #00b6f1;
$color-3: #e23232;
$color-4: #f0efef;
$color-5: #0c0c0c;
$icons-color: #e3e2ff;
$mobile-width: 320px;
$tablet-width: 744px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
